*{
    margin: 0;
    padding: 0;
}
header{
    background-color: rgb(220, 134, 134);
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    left: 0;
    top: 0;
}
/* det kommer nån kopnstig padding därför har jag detta */
#root {
    padding: 0;
}