@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

:root {
  --dark-color-a: #5a786f;
  --dark-color-b: #ccd2c6;
  --light-color: #e6e9ff;
  --success-color: #5cb85c;
  --error-color: #d9534f;
}

html {
  background-color: #8ba88e;
}
* {
  /* box-sizing: border-box; */
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.chat-container {
  max-width: 700px;
  background: #fff;
  margin: 30px auto;
  overflow: hidden;
  /* border-bottom: solid #ccd2c6 2px;
  border-right: solid #ccd2c6 2px;
  border-left: solid #ccd2c6 2px; */
}


.chat-header {
  background: #5a786f;
  color: #fff;
  font-size: 11px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leaveBtn {
  cursor: pointer;
  font-size: 9px;
  color: #ccd2c6;
  background-color: #3a4e51;
  border: none;
  width: 5rem;
  height: 1.5rem;
}

.smallBtn {
  cursor: pointer;
  font-size: 9px;
  color: #ccd2c6;
  background-color: #3a4e51;
  border: none;
  width: 13vh;
  height: 1.7rem;
  border: solid 1px #ccc;

  color: white;
}


#room-name input {
  width: 13vh;
  height: 3vh;
}

.usersInRoom {
  padding-right: 10px;
   padding-left: 10px;
   font-style: italic;
 }
select {
  height: 3vh;
  width: 13vh;
}
input {
  height: 2rem;
}
.roomSettings {
  background-color: #d9534f;
}

.chat-main {
  display: flex;

  justify-content: space-between;
}

.chat-sidebar {
  width: 60%;
  background: var(--dark-color-b);
  color: #313e45;
  padding: 26px;


  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

hr {
  margin-top: 4px;
  margin-bottom: 40px;
  border: 0.5px solid #8ba88e;
  width: 90%;
}

h2#room-room {
  display: flex;
  background-color: #5cb85c;
  color: blue;
}

.chat-sidebar h3 {
  margin-bottom: 15px;
}

.chat-sidebar ul li {
  padding: 10px 0;
}

.chat-messages {
  width: 70rem;
  align-items: end;
  justify-content: end;
  max-height: 500px;
  overflow-y: scroll;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.inputAndBtn{
  display: flex;
  flex-direction: row;
}

.isTyping{
  
}

.chat-messages .message {
  padding: 10px;
  margin-bottom: 15px;
  background-color: var(--light-color);
  border-radius: 5px;
  overflow-wrap: break-word;
}

.chat-messages .message .meta {
  font-size: 15px;
  font-weight: bold;
  color: var(--dark-color-b);
  opacity: 0.7;
  margin-bottom: 7px;
}

.chat-messages .message .meta span {
  color: #777;
}

.chat-form-container {
  display: flex;
  padding: 10px 10px;
  background-color: var(--dark-color-a);
  justify-content: end;
}
.isTyping{
  align-self: flex-start;
    height: 2rem;
    display: flex;
    align-items: end;
    color: #000000;
    font-size: 11px;
    padding-bottom: 10px;
    font-style: italic;
}

/* .chat-form-container form {
  display: flex;
} */
.message_container {
  height: 300px;
}

.chat-form-container input[type="text"] {
  font-size: 16px;
  padding: 5px;
  height: 40px;
}
