@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");


:root {
  --dark-color-a: #5a786f;
  --dark-color-b: #ccd2c6;
  --light-color: #e6e9ff;
  --success-color: #5cb85c;
  --error-color: #d9534f;
  --btn-background-color: #acc5b4;
  ---background-color: #ACC7B4;
}

html {
  background: rgb(172,199,180);
background: linear-gradient(90deg, rgba(172,199,180,1) 0%, rgba(106,150,119,1) 100%);
}

* {
  /* box-sizing: border-box; */
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.chat-container {
  max-width: 700px;
  background: #fff;
  margin: 30px auto;
  overflow: hidden;
  border-radius: 10px;
  /* border-bottom: solid #ccd2c6 2px;
  border-right: solid #ccd2c6 2px;
  border-left: solid #ccd2c6 2px; */
}

.chat-header {
  background-color: #dbddd6;
  font-size: 11px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;

 

backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.leaveBtn {
  cursor: pointer;
  font-size: 9px;
  color: #000;
  background-color: #fff;
  border: none;
  width: 5rem;
  height: 1.5rem;
  border-radius: 10px;
}

.smallBtn {
  cursor: pointer;
  font-size: 9px;
  color: #ccd2c6;
  background-color: var(--btn-background-color);
  border: none;
  width: 13vh;
  height: 1.7rem;
  border: solid 1px #ccc;
  border-radius: 10px;
  color: white;
}


#room-name input {
  width: 13vh;
  height: 3vh;
}

.usersInRoom {
  padding-right: 10px;
   padding-left: 10px;
   font-style: italic;
}

select {
  height: 3vh;
  width: 13vh;
  border-radius: 10px;
}

input {
  height: 2rem;
  border-radius: 10px;
  border: solid 1px #717171;
}

.roomSettings {
  background-color: #d9534f;
}

.chat-main {
  display: flex;
  justify-content: space-between;
}

.chat-sidebar {
  width: 60%;
  background-color: rgba(159, 171, 133, 0.2);
  color: #313e45;
  padding: 26px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

hr {
  margin-top: 4px;
  margin-bottom: 40px;
  border: 0.5px solid #8ba88e;
  width: 90%;
}

h2#room-room {
  display: flex;
  background-color: #5cb85c;
  color: blue;
}

.chat-sidebar h3 {
  margin-bottom: 15px;
}

.chat-sidebar ul li {
  padding: 10px 0;
}

.chat-messages {
  width: 70rem;

  max-height: 500px;
  overflow-y: scroll;
  padding: 20px; 
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.inputAndBtn{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.chat-messages .message {
  padding: 10px;
  margin-bottom: 15px;
  background-color: var(--light-color);
  border-radius: 5px;
  overflow-wrap: break-word;
}

.chat-messages .message .meta {
  font-size: 15px;
  font-weight: bold;
  color: var(--dark-color-b);
  opacity: 0.7;
  margin-bottom: 7px;
}

.chat-messages .message .meta span {
  color: #777;
}

.msgText{
  color: grey;
font-size: 12px;
}

.msgBubble{
  background-color: #a6d9a6;
  border-radius: 10px;
  padding: 5px;
}

#you .msgBubble{
  background-color: rgb(212, 212, 212);
}

#you{
  margin-left: 50%;
  margin-bottom: 20px;

  

}

#other {
  margin-right: 50%;
  margin-bottom: 20px;

 
}

.chat-form-container {
  display: flex;
  padding: 10px 10px;
  background-color: var(--dark-color-a);
  justify-content: end;
}

.isTyping{
  align-self: flex-start;
    height: 2rem;
    display: flex;
    align-items: end;
    color: #000000;
    font-size: 11px;
    padding-bottom: 10px;
    font-style: italic;
}

/* .chat-form-container form {
  display: flex;
} */

.message_container {
  height: 300px;
}

.chat-form-container input[type="text"] {
  font-size: 16px;
  padding: 5px;
  height: 40px;
}

 