@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

html {
  background-color: #fff;
}
:root {
  --dark-color-a: #000;
  --dark-color-b: #7386ff;
  --light-color: #fff;
  --success-color: #5cb85c;
  --error-color: #d9534f;
  --btn-background-color: #6381a4;
 ---background-color: #ACC7B4;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.btn {
  cursor: pointer;
  padding: 5px 15px;
  background-color: #000;
  color: #ffffff;
  border: 0;
}

.join-container {
  max-width: 50vh;

  margin: 80px auto;
  color: #fff;
}

.titleStartPage {
  padding-bottom: 3rem;
  color: ---ba;
}

button.btn {
  height: 2rem;
  font-size: 15px;
  color: #fff;
  background-color: var(--btn-background-color);
  border-radius: 10px;
  border: 1px solid;
}

.join-main {
  align-content: space-around;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
  /* From https://css.glass */
  /* From https://css.glass */
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(178, 178, 178, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid #ffffff;

  height: 30rem;
  padding-left: 2vh;
  padding-right: 2vh;
}

.chat-main {
  display: flex;
}

.join-main p {
  margin-bottom: 20px;
}

.join-main .form-control {
  margin-bottom: 20px;
}

.join-main input[type="text"] {
  font-size: 10px;
  padding: 5px;
  height: 40px;
  width: 100%;
  border: 2px solid ---btn-background-color;
  border-radius: 10px;
}

.join-main .btn {
  margin-top: 20px;
  width: 100%;
}

/* @media (max-width: 700px) {
	.chat-main {
		display: block;
	}

	.chat-sidebar {
		display: flex;
		flex-direction: row;
	}
} */
